.container{
  margin-top: 5rem;

}

#RandomQuestion {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color:Black;
}

#espacioParaPregunta{
  height: 10rem;

}

#soloQuestion {
  margin-left: 10px;
  font-weight: bold;
  -webkit-text-stroke: .5px black; /* width and color */
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  color: #FEC115;
  font-size: 40px;
}

#spanOne{
  background-color: #F7F8FA;
  color: #4D7FEE;

}