.presentation-mode{
    background-color: #EFF8FE;
}

.containerFake{
    padding:15px 100px 40px 100px;
}

#cabeceraText{
    padding-left: 10px;


}

#parrafo{
    margin-bottom: 0rem !important;
}
