#contenedor {
    background-color: #FFFEFE;
    box-shadow: 2px 2px 5px #999;
    padding: 15px;
}

#titlePage{
    font-family: 'Trispace', sans-serif;
    color: black;
    font-weight:bolder;
    font-size: 24px;
    margin-left: 20px;
}

#btnGroup{
    padding-right: 10px;
}

.space {
    margin-right: 5px !important;
}