@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


.Information{
    background-color: #E7EDFA;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Questrial', sans-serif;

}

.espacios{
padding: 3rem;
}

